environment {
    GTK_THEME "Adwaita:dark"
}

input {
    disable-power-key-handling
    keyboard { repeat-delay 200; repeat-rate 30; }
    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
        scroll-method "two-finger"
        scroll-factor 0.85
        accel-profile "adaptive"
        accel-speed 0.2
        tap-button-map "left-right-middle"
        click-method "clickfinger"
        drag true
    }
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth
    mouse { accel-speed 0.2; }
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

layout {
    preset-column-widths { proportion 0.382; proportion 0.618; proportion 1.0; }
    default-column-width { proportion 0.618; }
    background-color "transparent"
    always-center-single-column
    gaps 0
    focus-ring { off; }
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#000000ff"
        inactive-color "#00000054"
    }
}

prefer-no-csd
hotkey-overlay { skip-at-startup; }
window-rule { open-floating false; }

output "eDP-1" {
    scale 1.5
    mode "2560x1600@60.003"
}

gestures {
    hot-corners { off; }
}
animations { off; }

recent-windows { off; }

spawn-at-startup "swayidle" "-w" \
    "timeout" "180" "swaylock -u -f -c 000000" \
    "timeout" "240" "niri msg action power-off-monitors"
spawn-at-startup "fcitx5"
spawn-at-startup "alacritty"
spawn-at-startup "wlsunset" "-l" "20" "-L" "100"

binds {
//    Mod+escape repeat=false { power-off-monitors; }
//Mod+l repeat=false { spawn "swaylock" "-f" "-u" "-c" "000000"; }
Mod+escape repeat=false { spawn-sh "swaylock -f -u -c 000000 && niri msg action power-off-monitors"; }
    Mod+a repeat=false { spawn "alacritty"; }
    Mod+c repeat=false { spawn "firefox"; }
    Mod+p repeat=false { spawn-sh "grim - | swappy -f - -o - | wl-copy -t image/png"; }
    Mod+q repeat=false { spawn-sh "grim -g \"$(slurp)\" - | swappy -f - -o - | wl-copy -t image/png"; }
    Mod+r repeat=false { switch-preset-column-width; }
    Mod+alt+q repeat=false { close-window; }

    Mod+s cooldown-ms=70 { focus-column-left; }
    Mod+f cooldown-ms=70 { focus-column-right; }
    Mod+e cooldown-ms=70 { focus-window-or-workspace-up; }
    Mod+d cooldown-ms=70 { focus-window-or-workspace-down; }
    Mod+alt+s cooldown-ms=70 { move-column-left; }
    Mod+alt+f cooldown-ms=70 { move-column-right; }
    Mod+alt+e cooldown-ms=70 { move-window-up-or-to-workspace-up; }
    Mod+alt+d cooldown-ms=70 { move-window-down-or-to-workspace-down; }

    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "1%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "1%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "amixer" "-q" "sset" "Master" "1%-"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "amixer" "-q" "sset" "Master" "1%+"; }
    XF86AudioMute allow-when-locked=true { spawn "amixer" "-q" "sset" "Master" "toggle"; }

    Mod+WheelScrollDown cooldown-ms=70 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=70 { focus-workspace-up; }
    Mod+MouseRight { focus-column-right; }
    Mod+MouseLeft { focus-column-left; }
}
