[Desktop Entry]
Type=Application
Name=Helium
Comment=Web Browser
Exec=helium %U
Icon=web-browser
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
