"\e[A": history-search-backward
"\e[B": history-search-forward
set history-preserve-point on
set completion-ignore-case on
set mark-symlinked-directories on
set bell-style none
set colored-stats on
set visible-stats on
set completion-display-width 0
set skip-completed-text on
